form {
    border: 3px solid #f1f1f1;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    width: 35%;
}

button:hover {
    opacity: 0.8;
}



.container {
    padding: 16px;
}

.itemsList-class{
    padding: 40px;
    color: pink;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li del{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

.button_class {
}


/*!* The alert message box *!*/
/*.alert {*/
/*    padding: 20px;*/
/*    background-color: #f44336; !* Red *!*/
/*    color: white;*/
/*    margin-bottom: 15px;*/
/*}*/

/*!* The close button *!*/
/*.closebtn {*/
/*    margin-left: 15px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    float: right;*/
/*    font-size: 22px;*/
/*    line-height: 20px;*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*}*/

/*!* When moving the mouse over the close button *!*/
/*.closebtn:hover {*/
/*    color: black;*/
/*}*/
